
<h1>ITI Focused Equity Fund(G)-Direct Plan</h1>
<h2>About ITI Focused Equity Fund</h2>
<p>ITI Mutual Fund announced the launch of the ITI Focused Equity Fund, an open-ended equity fund scheme investing in a maximum of 30 stocks across market capitalization. The scheme opened for public subscription on May 29, 2023, and will close on June 12, 2023. The scheme re-opens for continuous sale and repurchase on or before June 23, 2023.
</p>
<h1>About it's Returns</h1>
<div id="container">
<div id="div2">
    <mat-card class="example-card" class="example-card ">
        <mat-card-header>
            <mat-card-title>ITI Focused Equity Fund Direct - Growth - NFO</mat-card-title>
            <mat-card-subtitle>Equity &nbsp;&nbsp;Flexicap  &nbsp;&nbsp;Very High Risk</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <div style="display: flex; justify-content: space-between;">
            <p style="flex-basis: 49.5%; ">Launch Date</p>
            <p style="flex-basis: 49.5%; ">29-May-2023</p>
          </div>
          <div style="display: flex; justify-content: space-between;">
            <p style="flex-basis: 49.5%; ">Allotment Date</p>
            <p style="flex-basis: 49.5%; "> 19-Jun-2023</p>
          </div>
          <div style="display: flex; justify-content: space-between;">
            <p style="flex-basis: 49.5%; ">End Date</p>
            <p style="flex-basis: 49.5%; ">12-Jun-2023</p>
          </div>
          <div style="display: flex; justify-content: space-between;">
            <p style="flex-basis: 49.5%; ">NAV</p>
            <p style="flex-basis: 49.5%; ">Rs. 10</p>
          </div>
        
         <div>
            <p style="flex-basis: 49.5%; "> Expense ratio, exit load and tax</p>
         </div>
         <div>
         <p>Expense ratio: NA</p>
        </div>
        <div>
        <p>Inclusive of GST</p>
        </div>
        <div>
         <p>Exit load</p>
        </div>
        <div>
        <p>Exit load of 1%, if redeemed within 12 months.</p>
       </div>
       <div>
       <p>Stamp duty</p>
       </div>
       <p>0.005% (from July 1st, 2020)</p>
       <div>
         <p> Tax implication </p>
      </div>
      <div>
      <p>Returns are taxed at 15%, if you redeem before one year. After 1 year, you are required to pay LTCG tax of 10% on returns of Rs 1 lakh+ in a financial year.</p> 
    </div>    
    </mat-card-content>
        
        <mat-card-actions >
          
          &nbsp;&nbsp;<button mat-raised-button color="primary" (click)="changeVolume()">Invest</button>
        </mat-card-actions>
        
      </mat-card>
</div>
</div>