
<h1>Mirae Asset Silver ETF</h1>
<h2>About Mirae Asset Silver ETF</h2>
<p>  The investment objective of the scheme is to generate returns that are in line with the performance of physical silver in domestic prices, subject to tracking error. The Scheme does not guarantee or assure any returns..</p>
<h1>About it's Returns</h1>
<div id="container">
<div id="div2">
    <mat-card class="example-card" class="example-card ">
        <mat-card-header>
            <mat-card-title>Mirae Asset Silver ETF</mat-card-title>
            <mat-card-subtitle>Category: Index Funds/ETFs &nbsp;&nbsp;Fund Type: Open Ended  &nbsp;&nbsp;Investment Plan: Growth</mat-card-subtitle>
        </mat-card-header>
        <div>
        <button mat-button>Others</button>
        <button mat-button>Very High</button>
        </div>
        <mat-card-content>
          <div style="display: flex; justify-content: space-between;">
            <p style="flex-basis: 49.5%; ">Open Date</p>
            <p style="flex-basis: 49.5%; ">29-May-2023</p>
          </div>
          <div style="display: flex; justify-content: space-between;">
            <p style="flex-basis: 49.5%; ">Close Date</p>
            <p style="flex-basis: 49.5%; ">06-Jun-2023</p>
          </div>
          <div style="display: flex; justify-content: space-between;">
            <p style="flex-basis: 49.5%; ">Allotment Date</p>
            <p style="flex-basis: 49.5%; "> 09-Jun-2023</p>
          </div>
        
         
        </mat-card-content>
        
        <mat-card-actions >
          
          &nbsp;&nbsp;<button mat-raised-button color="primary" (click)="changeVolume()">Invest</button>
        </mat-card-actions>
        
      </mat-card>
</div>
</div>