
<h1>DSP Mid Cap Fund</h1>
<h2>About DSP Mutual Fund</h2>
<p>  The DSP family's journey with investment can be traced back to the 1860s when the family first ventured into the stock-broking business. They forayed into investment management in a joint venture with Merrill Lynch to form DSP Merrill Lynch Asset Management Company and got registered with SEBI in January 1997. The company later changed to DSP BlackRock Investment Managers Ltd. in 2008 following BlackRock's takeover of Merrill Lynch's global asset management business.</p>
<h1>About it's Returns</h1>
<div id="container">
<div id="div1">
    <canvasjs-chart [options]="chartOptions" [styles]="{width: '50%', height:'360px'}"></canvasjs-chart>    
</div>   
<div id="div2">
    <mat-card class="example-card" >
        <mat-card-content>
          <div style="display: flex; justify-content: space-between;">
            <p style="flex-basis: 49.5%; ">Total Investment</p>
            <p style="flex-basis: 49.5%; ">₹ 6 Lacs</p>
          </div>
          <div style="display: flex; justify-content: space-between;">
            <p style="flex-basis: 49.5%; ">Profit</p>
            <p style="flex-basis: 49.5%; ">₹ 5.7 Lacs</p>
          </div>
          <div style="display: flex; justify-content: space-between;">
            <p style="flex-basis: 49.5%; ">Current Value</p>
            <p style="flex-basis: 49.5%; ">₹ 11.7 Lacs</p>
          </div>
        
         
        </mat-card-content>
        
        <mat-card-actions >
          
          &nbsp;&nbsp;<button mat-raised-button color="primary" (click)="changeVolume()">Invest</button>
        </mat-card-actions>
        
      </mat-card>
</div>
</div>